@font-face {
  font-family: Vazir;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/Vazir-Light-UI.woff") format("woff"),
    url("~assets/fonts/Vazir-Light-UI.woff2") format("woff2");
}
@font-face {
  font-family: Vazir;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Vazir-Black-UI.woff") format("woff"),
    url("~assets/fonts/Vazir-Black-UI.woff2") format("woff2");
}
@font-face {
  font-family: VazirFarsiDigits;
  font-weight: 700;
  font-display: swap;
  src: url("~assets/fonts/Vazirmatn-FD-SemiBold.woff2") format("woff2");
}
html {
  scroll-behavior: smooth;
}
.page-transition-enter-active,
.page-transition-leave-active {
  transition: opacity 0.5s;
}
.page-transition-enter,
.page-transition-leave-to {
  opacity: 0;
}
.theme--light.v-application {
  background-color: #e7e6e1 !important;
}
.pointer {
  cursor: pointer;
}
.v-card--link:focus:before {
  border-radius: 24px !important;
}
.faNum {
  font-family: VazirFarsiDigits;
  font-weight: bold;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.h-100 {
  height: 100%;
}
.h-full {
  height: 100vh;
}
.brownish {
  color: #382e1e;
}
.brown-gr {
  background: #ce9f69;
  background: radial-gradient(circle, rgba(206, 159, 105, 1) 0%, rgba(176, 130, 80, 1) 100%);
}
body {
  font-family: "Vazir" !important;
}
.relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.v-input__append-inner {
  margin: auto 0 !important;
}
#search-field-container .v-input__slot {
  padding: 0 10px !important;
}
.list-item:nth-child(1) {
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 3;
}
.list-item:nth-child(2) {
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.3s;
  z-index: 2;
}
.list-item:nth-child(3) {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.9s;
  z-index: 0;
}
.list-item:nth-child(4) {
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  z-index: 1;
}
.list-item.active:nth-child(1) {
  transform: translateX(0);
}
.list-item.active:nth-child(2) {
  opacity: 1;
  transform: translateX(0);
}
.list-item.active:nth-child(3) {
  opacity: 1;
  transform: translateX(0);
}
.list-item.active:nth-child(4) {
  opacity: 1;
  transform: translateY(0);
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 0.3s ease-in-out;
}
.slide-leave,
.slide-leave-active {
  position: absolute;
  top: 0;
}
.slide-enter {
  transform: translate(100%);
}
label[for="username"] {
  right: 0 !important;
  left: 0 !important;
  max-width: 100% !important;
  font-weight: bold;
}
#username {
  font-weight: bold;
  text-align: center;
}
.price.faNum {
  margin-top: 2px;
}
.price-unit {
  display: inline-block;
  width: 28px;
  font-size: 10px !important;
  line-height: 12px !important;
  vertical-align: baseline;
}
.product-card {
  display: flex !important;
  flex-direction: column;
}
.product-card .v-image {
  flex: 0 0 auto;
  width: 100%;
}
.product-card .v-card__actions {
  margin-top: auto;
}
.product-detail-card .v-card__actions {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 !important;
}
.flex-1 {
  flex: 1 !important;
}
.flex-100 {
  flex: 1 1 100% !important;
}
.v-slide-group__next--disabled,
.v-slide-group__prev--disabled {
  opacity: 0;
}
.backdrop-filter {
  backdrop-filter: brightness(0.5);
}
.v-speed-dial--direction-top.v-speed-dial--right .v-speed-dial__list {
  left: auto !important;
  right: 0 !important;
}
/* .v-main {
  padding-bottom: 75px !important;
} */
.banded-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.banded-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}
.vr-middle {
  vertical-align: middle;
}
.no-arrows-slide-group .v-slide-group__next, .v-slide-group__prev {
  display: none !important;
}
.theme--light.v-btn:hover::before {
  display: none;
}